/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body{
  padding: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(https://static.vecteezy.com/system/resources/previews/000/626/042/non_2x/vector-circuit-board-vertical-high-tech-technology-banner-background-texture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 1200px 1000px;
  background-color: rgb(7, 15, 2);
}

  .pslo-courses-container{
  justify-items: center;
  justify-content: center;
  justify-self: center;
  max-width: 500px;
  }


#main-title{
  text-align: center;
  color: white;
  font-size: 60;
  font-family: 'Courier New', Courier, monospace;
}

.faculty-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#faculty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#faculty>ul>li {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20;
  padding: 30px;
}

#faculty-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.section{
  border-radius: 10px;
  padding: 10px;
  border: 5px rgb(52, 145, 153) outset;
  margin: 40px;
  background: white;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#style li {
  float: right; /*explore what happens if this is 'right' instead*/
}

#style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

/* Change the link background color to #000 (black) on hover */
#style li a:hover {
  background-color: #000;
}

#style {
  position: fixed;
  background-color: #cfd6f3;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 0px;
}

#tools {
  background-color: white;
}

#key {
  background-color: white;
}

.local {
  font-family: Arial, Helvetica, sans-serif;
}

.cloud {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.version-control {
  color: #7A0019;
}

.ide {
  color: grey;
}

.testing {
  color: green
}

.tools-container{
  display: block;
  /*flex-direction: row;*/
  justify-content: center;
  align-items: center;
}

.card{
  border-radius: 10px;
  border: 10px purple;
  padding: 10px;
  margin: 40px;
  background: rgb(255, 255, 255);
}
